<table class="table table-bordered table-condensed table-hover table-striped">
	<thead>
		<th>Song</th>
		<th>#</th>
	</thead>
	<tbody>
	<% @usage_data.each do |(k,v)| %>
		<tr>
			<td><a class='unborderedanchor' onclick='songAnchorClicked(<%= k[0] %>)'><%= k[1] %></a></td>
			<td><%= v %></td>
		</tr>
	<% end %>
	</tbody>
</table>