<table class="table table-condensed table-striped">
	<thead>
		<th></th>
		<th>Song</th>
		<th>#</th>
	</thead>
	<tbody>
	<% @usages.each_with_index do |usage, index| %>
		<tr>
			<td><%= index+1 %></td>
			<td><a class="unborderedanchor songAnchor" id="<%= usage[0][0] %>"><%= usage[0][1] %></a></td>
			<td><%= usage[1] %></td>
		</tr>
	<% end %>
	</tbody>
</table>