<div style="width: 100%; padding: 20px;">
<table class="table table-condensed table-striped songlist masteredit" id="songs">
	<thead>
		<th class="song_name">Song Name</th>
		<th class="license">License</th>
		<th class="writers">Writers</th>
		<th class="lyrics_url">Lyrics URL</th>
		<th class="sof_number">SOF #</th>
		<th class="sample_url">Sample URL</th>
		<th class="ccli_number">CCLI Number</th>
	</thead>
	<% @songs.each do |s| %>
		<% @song = s %>
		<%= render "song_template" %>
	<% end %>
</table>
</div>