<div style="padding: 20px;">
<table class="table table-condensed table-hover songlist masteredit" id="akas">
	<thead>
		<th class="song_name">Song Name</th>
		<th class="display_text">Searchable Title</th>
		<% if current_user.admin? %><th class="search_text">Search Text</th><th></th><% end %>
	</thead>
	<% @akas.each do |a| %>
		<% @aka = a %>
		<%= render "aka_template" %>
	<% end %>
</table>
</div>