.top-menu {
    float: right;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.top-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-menu li {
    display: inline-block;
    margin: 0;
}
.top-menu a {
    display: inline-block;
    margin: 0;
    padding: 0.7em 1.6em;
    border-bottom: 2px solid #fff;
}
.top-menu a:hover {
    text-decoration: none;
    background-color: #f3f3f3;
    border-bottom: 2px solid #ddd;
}
.top-menu ul ul:before {
    width: 0; 
    height: 0; 
    content: "";
    position: absolute;
    top: -7px;
    left: 1em;
    border-bottom: 7px solid #ddd;     
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.top-menu ul ul {
    display: inline;
    display: none;
    position: absolute;
    background-color: #ddd;
    margin: 0px;
}
.top-menu ul ul li {
    display: block;
}

.ui-datepicker-trigger {
    float: left;
    padding: 1px;
    margin: 0 2px;
}
.ui-autocomplete-input {
    min-width: 0 !important;
}

.tagit-autocomplete.ui-menu {
    border-radius: 4px;
    padding: 2px;
    padding-right: 8px;
}
.tagit-autocomplete.ui-menu .ui-menu-item {
    border-radius: 3px;
    margin: 1px;
}
ul.tagit {
    width: 100%;
    background-color: #fff;
    cursor: text;
}

select {
    padding: 1.1em;
}

a.borderedanchor {
    border: 1px solid #ddd;
}
a.borderedanchor, a.unborderedanchor {
    padding: 1px 5px;
    margin: 1px 2px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
a.borderedanchor:hover, a.unborderedanchor:hover, a.songusageanchor:hover {
    text-decoration: none;
}
a.borderedanchor:hover, a.unborderedanchor:hover {
    background-color: #ddf;
}
a.songusageanchor {
    cursor: pointer;
}

.breakdown_header:before {
    content: "INFO: ";
    font-size: 70%;
    font-weight: normal;
}
.breakdown_header {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
}

h1 {
    margin: 20px 30px 0px 40px;
    font-family: "Open Sans Condensed";
    font-size: 300%;
    float: left;
}
.flash {
    position: absolute;
    z-index: 1;
    width: 80%;
    left: 10%;
}
.alert {
    margin-bottom: 10px;
    margin-top: 10px;
}
.spacer {
    display: inline-block;
    width: 4px;
}
.icontip {
    margin: 2px;
}

td .addnew {
    cursor: pointer;
    margin: 0.2em 0.2em 0 0;
}
th .addnew {
    position: absolute;
    top: 8px;
    right:5px;
    cursor: pointer;
}
.addnew:hover {
    text-decoration: none;
}
.deleteme {
    color: #FE4F45;
}
.deleteme:hover {
    color: #D04942;
}

th {
    position: relative;
}
.tdkey {
    font-weight: bold;
}

td.date, th {
    white-space: nowrap;
}
span.ui-button-text {
    white-space: nowrap !important;
}
.ui-helper-hidden-accessible {
    display: none;
}
.tagit-label {
    vertical-align: middle;
}
#songList {
    min-height: 32px;
    margin: 1px;
    border-radius: 3px;
}

#service_date
{
    min-width: 8em;
}
.songlist {
    padding: 20px;
}
.songlist thead {
    font-weight: bold;
}
.songlist td {
    overflow: hidden;
    max-width: 80px;
}
.servicelist td.dat {
    width: 200px;
}
td[contenteditable="true"]:focus, 
td[contenteditable="true"]:active {
    background-color: #f0f0f4 !important;
}
::-webkit-inner-spin-button { display: none; }